.hero {
  font-family: "Pacifico", sans-serif;
  &--title {
    font-size: 32px;
      color: bisque;
  }
  &--text {
    font-size: 18px;
    text-align: start;
      color: bisque;
  }
}

.wall {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.wall--item {
      font-family: "Pacifico", sans-serif;
  width: calc(100% / 2 - 30px);
  position: relative;
  transition: transform 500ms linear;
}

.wall--item:hover {
  transform: scale(1.25);
}

.wall--item img {
  margin: 0 auto;
}

.wall--title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}
