$font-family-primery: "Pacifico", sans-serif;
$btn-text-color: rgb(25, 68, 11);
$text-color: rgb(25, 68, 11);
$bgr-color: rgba(20, 255, 20, 0.7);

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(200, 200, 200, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: visible;
  overflow: visible;
}

.box-form {
  background-color:rgba(200, 200, 200, 0.5);
  padding: 50px;
}

.form {
    margin: auto;
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
}

.notise{
  border-radius: 10px;
  resize: none;
  padding: 10px;
      font-size: 22px;
        font-weight: 400;

        background-color: beige;
}

button {
  padding: 5px 10px;
    background-color: $bgr-color;
    color: $btn-text-color;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
      box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.controler{
  display: flex;
  align-items: center;
  gap: 50px;
}

.stikers-wall {
  border-top: 2px green solid;
  padding: 50px;
}

.box-notice {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.stikers:nth-child(3n) {
  transform: rotate(0.03turn);
  background-color: aqua;
}

.stikers:nth-child(2n) {
  transform: rotate(-0.02turn);
  background-color: red;
}

.stikers:nth-child(4n) {
  transform: rotate(-0.04turn);
  background-color: blueviolet;
}

.stikers:nth-child(5n) {
  transform: rotate(-0.03turn);
  background-color: lawngreen;
}

.stikers {
  transform: rotate(0.01turn);
  background-color: hotpink;
  width: 200px;
  height: 200px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  transition: transform 500ms linear;
}

.stikers:hover {
  position: relative;
  z-index: 2;
  transform: scale(1.5);
}

.stikers.open {
  position: fixed;
  top: 45%;
  left: 45%;
  z-index: 5;
  transform: scale(2);
}

.stikers.yes {
  position: absolute;
  top: -100%;
  left: -100%;
}

.exit {
  display: inline-block;
  padding: 10px;
  opacity: 1;
  overflow: visible;
}

.made {
  display: inline-block;
  padding: 10px;
  opacity: 1;
  overflow: visible;
}

.visually-hidden {
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}
